.button-box{
    padding: 0px;
    spacing: 18px;
    margin-left: 30px;
    margin-right: 30px;
}
.chrome-item{
    border-radius: 32px;
    border: 1px solid #2C3030;
    width: 48px;
    height: 48px;
    padding: 4px;
    margin: 0px;
    /*color: #FFF;*/
    margin-top: 0;
    margin-bottom: 0;
}
.chrome-item:active {
  background-color: #0274d9;
}
.chrome-item:hover {
  background-color: #3085a9;
}